@import url("style.css");
/* Hero section */

.intro {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    justify-content: flex-start;
}

.intro h1 {
    color: var(--headline);
    font-size: 2rem;
    font-family: var(--decorative-font);
    margin-bottom: 20px;
}

.intro h2 {
    color: var(--sub-headline);
    font-size: 1.1rem;
    font-family: var(--secondary-font);
}

.subheadline {
    display: flex;
}

.typing {
    position: relative;
    margin-left: 10px;
}

.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    right: -1px;
    height: 80%;
    border-right: 3px solid var(--sub-headline);
    animation: blink 0.6s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.media {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
}

.media i {
    padding: 10px;
    margin: 0 5px 0 5px;
    border: 1px solid var(--paragraph-dark);
    border-radius: 50%;
}

.media i:hover {
    border: 1px solid var(--paragraph-light);
    border-radius: 50%;
    color: var(--paragraph-light);
}

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px) {
    
    header {
        height: 40vh;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {
    
    header {
        height: 80vh;
        padding-top: 15vh;
    }

    .intro {
        width: 70%;
        padding-top: 10vh;
    }

    .intro h1 {
        font-size: 3rem;
    }
    
    .intro h2 {
        font-size: 2rem;
    }
}