@import url("style.css");
/* Navbar settings */

header {
    width: 100%;
    height: 60vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

header,
nav {
    background: var(--primary-orange);
    transition: background-color .5s ease;
}

.navbar {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.scrolling {
    background: var(--sticky-nav-background);
    opacity: 0.9;
    z-index: 2;
}

.scrolling .navbar {
    padding-top: 0px;
}

.scrolling .navbar .logo {
    color: var(--paragraph-dark);
}

.scrolling .navbar .main-nav a {
    color: var(--paragraph-dark);
}

.logo {
    height: 10vh;
    display: flex;
    align-items: center;
    color: var(--headline-light);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 600; /* default value 400 */
}

.main-nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-nav-mobile {
    background: var(--secondary-orange);
    height: 90vh;
    position: absolute;
    padding: 20px;
    top: 10vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; 
    width: 100%;
    z-index: 3;
}

.burger {
    cursor: pointer;
    display: block;
}

.burger div {
    background-color: var(--paragraph-light);
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
    width: 25px;
}

.nav-links-mobile,
.nav-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.nav-links {
    display: none;
    flex-direction: column;
}

.nav-link {
    opacity: 0;
    font-family: var(--secondary-font);
}

.nav-link a {
    color: var(--paragraph-light);
    display: block;
    letter-spacing: 1px;
    margin: 20px 0 20px 0;
    text-align: center;
    text-decoration: none;
    position: relative;
}

/* Fade in */
.nav-link a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.3em;
    background-color: #f87a57;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
.nav-link a:hover::after,
.nav-link a:focus::after {
    opacity: 0.3;
    transform: translate3d(0, 0.2em, 0);
}
  
  /* Slide in */
.nav-link a {
    overflow: hidden;
}
  
.nav-link a::after {
    opacity: 0.3;
    transform: translate3d(-100%, 0, 0);
}
  
.nav-link a:hover::after,
.nav-link a:focus::after{
    transform: translate3d(0, 0, 0);
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFadeIn { 
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px); 
}

/* Tablet and desktop*/
@media screen and (min-width: 576px) {

    .main-nav-mobile {
        height: 90vh;
        top: 10vh;
        width: 50%;
        right: 0;
    }

    .logo {
        font-size: 1.5rem;
    }
}

/* Desktop*/
@media screen and (min-width: 992px) {

    .navbar {
        width: 70%;
        padding-top: 5vh;
        transition: padding-top .5s ease;
    }

    .main-nav {
        justify-content: flex-end;
    }

    .burger {
        display: none;
    }

    .main-nav-mobile {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-link {
        margin: 0 0 0 5px;
        opacity: 1;
    }

    .nav-link a {
        border-bottom: none;
        /* padding: 12px 10px; */
        padding: 12px 0px 0 0px;
        margin: 0 10px 0 10px;
    } 
}